<md-list class="wb-setting-panel">
	<!-- has a caption? -->
	<wb-ui-setting-on-off-switch
	   title="caption?"
	   icon="blur_on"
	   value="wbModel.caption.enable">
	</wb-ui-setting-on-off-switch>
	
	<!-- caption -->
	<textarea
	  ui-tinymce="tinymceOptions"
	  ng-model="wbModel.caption.html"
	  flex>
	</textarea>

</md-list>