<md-list class="wb-setting-panel">
    <md-list-item>
        <wb-icon>wb-object-database</wb-icon>
        <p>Datasources</p>
        <md-button 
        	class="md-icon-button md-primary" 
        	aria-label="Add" 
        	ng-click="addData()">
            <wb-icon>wb-action-add-database</wb-icon>
        </md-button>
    </md-list-item>

    <wb-ui-setting-data
		ng-repeat="item in wbModel.data"
    	title="item" 
    	icon="wb-object-database" 
    	value="item"
    	remove="removeData">
    </wb-ui-setting-data>
</md-list>