<md-list class="wb-setting-panel">

<!-- 
 "legend": {
      "dispatch": {},
      "width": 400,
      "height": 20,
      "align": true,
      "maxKeyLength": 20,
      "rightAlign": true,
      "padding": 32,
      "updateState": true,
      "radioButtonMode": false,
      "expanded": false,
      "vers": "classic",
      "margin": {
        "top": 5,
        "right": 0,
        "bottom": 5,
        "left": 0
      }
    },
 -->
 
	<!--  	Align -->
    <wb-ui-setting-on-off-switch 
    	title="Enable align" 
    	icon="blur_on" 
    	value="wbModel.chart.legend.align">
    </wb-ui-setting-on-off-switch>
    <wb-ui-setting-on-off-switch 
    	ng-show="wbModel.chart.legend.align"
    	title="Right align" 
    	icon="blur_on" 
    	value="wbModel.chart.legend.rightAlign">
    </wb-ui-setting-on-off-switch>
 
 
    <wb-ui-setting-number
		title="Max legend key length" 
		icon="blur_on"
		value="wbModel.chart.legend.maxKeyLength">
	</wb-ui-setting-number>
 
 
    <wb-ui-setting-dropdown
            title="Vers"
            icon="wb-direction"
            items="[{title: 'Classic', value:'classic'},{title: 'Furious', value:'furious'}]"
            value="wbModel.chart.legend.vers">
    </wb-ui-setting-dropdown>
 

</md-list>