<md-list class="wb-setting-panel">

    <!-- graph type -->
    <wb-ui-setting-dropdown
            title="Type"
            icon="wb-direction"
            items="chartTypes"
            value="wbModel.chart.type">
    </wb-ui-setting-dropdown>
    
    
    <wb-ui-setting-number 
    	ng-show="wbModel.style.padding.isUniform" 
    	title="Radius" 
    	icon="rounded_corner"  
    	value="wbModel.style.padding.uniform">
    </wb-ui-setting-number>
    
    
    <!-- SECTION: Lines -->
    <md-list-item>
        <wb-icon>wb-object-database</wb-icon>
        <p>Lines</p>
        <md-button 
        	class="md-icon-button md-primary" 
        	aria-label="Add" 
        	ng-click="addData()">
            <wb-icon>wb-action-add</wb-icon>
        </md-button>
    </md-list-item>

    <!-- setting for each data -->
    <div ng-repeat="item in wbModel.data">
        <md-list-item style="background-color: #eee">
            <wb-icon>wb-blank</wb-icon>
            <p>Line {{ $index+1 }}</p>
            <md-button 
            	class="md-icon-button md-primary" 
            	aria-label="Remove" 
            	ng-click="removeData(item)">
                <wb-icon style="color:darkred">wb-action-close</wb-icon>
            </md-button>
        </md-list-item>
        <wb-ui-setting-color 
        	title="Color" 
        	icon="format_color_fill" 
        	value="item.color">
        </wb-ui-setting-color>
	    <wb-ui-setting-data
	    	title="Data" 
	    	icon="wb-object-database" 
	    	value="item"
	    	remove="removeData">
	    </wb-ui-setting-data>
        <wb-ui-setting-on-off-switch 
        	title="Show Area?" 
        	icon="blur_on"
			value="item.area">
		</wb-ui-setting-on-off-switch>
    </div>
</md-list>