<md-list class="wb-setting-panel">
    <!-- SECTION: margin -->
    <!-- uniform margin -->
    <md-subheader class="md-no-sticky">Margin</md-subheader>

    <!-- 4 controls for left-right-bottom-up margins -->
    <!-- left --> 
    <wb-ui-setting-number 
    	title="Left" 
    	icon="rounded_corner"
		value="wbModel.chart.margin.left">
	</wb-ui-setting-number>

    <!-- right --> 
    <wb-ui-setting-number 
    	title="Right" 
    	icon="rounded_corner"
		value="wbModel.chart.margin.right">
	</wb-ui-setting-number>

    <!-- top --> 
    <wb-ui-setting-number 
    	title="Top" 
    	icon="rounded_corner"
		value="wbModel.chart.margin.top">
	</wb-ui-setting-number>

    <!-- bottom --> 
    <wb-ui-setting-number 
    	title="Bottom" 
    	icon="rounded_corner"
		value="wbModel.chart.margin.bottom">
	</wb-ui-setting-number>

</md-list>