<md-list class="wb-setting-panel">
    <!-- has a title? -->
    <wb-ui-setting-on-off-switch
            title="Transparent?"
            icon="blur_on"
            value="wbModel.title.enable">
    </wb-ui-setting-on-off-switch>

    <!-- title -->
    <textarea
            ui-tinymce="tinymceOptions"
            ng-model="wbModel.title.html"
            flex>
    </textarea>
</md-list>