<table width="100%">
	<thead>
		<tr>
			<th ng-repeat="value in wbModel.data.values[0] track by $index">{{value}}</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="values in wbModel.data.values track by $index" ng-if="$index >= 1">
			<th ng-repeat="value in values track by $index">{{value}}</th>
		</tr>
	</tbody>
	<!--   <tfoot>  </tfoot> -->
</table>